default_config:
frontend:
  themes: !include_dir_merge_named themes
tts:
  - platform: google_translate
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.11      # Mill (Tunnel Host)
    - 127.0.0.1
    - ::1

recorder:
  db_url: !env_var POSTGRES_URL

tuya_smart_ir_ac:
  access_id: !env_var TUYA_ACCESS_ID
  access_secret: !env_var TUYA_ACCESS_SECRET
  country: !env_var TUYA_COUNTRY_CODE