default_config:
frontend:
  themes: !include_dir_merge_named themes
tts:
  - platform: google_translate
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.0.11      # Mill (Tunnel Host)
    - 127.0.0.1
    - ::1

recorder:
  db_url: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/homeassistant
